## Question 1: What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured information or data, typically stored electronically in a computer system. Databases are managed by Database Management Systems (DBMS), which allow for efficient retrieval, insertion, update, and deletion of data. Databases can store vast amounts of data and provide various mechanisms for data integrity, security, and concurrency control.

### Differences Between SQL and NoSQL Databases:
#### 1. Structure:

* SQL Databases:

1. Use tables with rows and columns to organize data.
2. Require a fixed schema, meaning the structure of data must be defined in advance.
Examples: MySQL, PostgreSQL, Oracle.

* NoSQL Databases:

1. Use various models like key-value, document, column-family, or graph to store data.
2. Have flexible schemas, allowing for easy changes to data structure.
Examples: MongoDB, Cassandra, Redis.

#### 2. Scalability:

* SQL Databases:

1. Typically scale by upgrading the hardware of a single server (vertical scaling).
2. Can be more complex to scale out to multiple servers (horizontal scaling).

* NoSQL Databases:

1. Designed to scale out across many servers easily (horizontal scaling).
2. Handle large amounts of data and high traffic better.

#### 3. Transactions and Consistency:

* SQL Databases:

1. Ensure reliable and consistent transactions with ACID properties (Atomicity, Consistency, Isolation, Durability).
2. Data is always kept consistent.

* NoSQL Databases:

1. Focus on availability and partition tolerance, often with BASE properties (Basically Available, Soft state, Eventual consistency).
2. Data may not be immediately consistent across all nodes, but will eventually be consistent.

#### 4. Use Cases:

* SQL Databases:

1. Best for structured data with clear relationships, like in financial systems or customer management.
2. Good for complex queries and detailed reports.

* NoSQL Databases:

1. Ideal for unstructured or semi-structured data, such as JSON or XML.
2. Used in big data, real-time web applications, and content management systems.

#### 5. Query Language:

* SQL Databases:

1. Use SQL (Structured Query Language) for managing and querying data.

* NoSQL Databases:

1. Use different query languages or APIs depending on the database type, like MongoDB's JSON-based queries or Cassandra's CQL (Cassandra Query Language).

#### Summary:
SQL Databases: Structured, fixed schema, strong consistency, suitable for complex queries.
NoSQL Databases: Flexible schema, scalable, eventual consistency, ideal for big data and real-time applications.

## Question 2: What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a subset of SQL used to define and manage database structures such as tables, indexes, and schemas. DDL commands help in creating, modifying, and deleting database objects. The primary DDL commands include CREATE, DROP, ALTER, and TRUNCATE.

## DDL Commands and Their Uses:
1. CREATE:

* Purpose: To create new database objects like tables, indexes, views, or schemas.

* Example: Creating a new table called employees.

CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    hire_date DATE,
    salary DECIMAL(10, 2)
);

2. DROP:

* Purpose: To delete existing database objects such as tables, indexes, or views.

* Example: Dropping the employees table.

DROP TABLE employees;

3. ALTER:

* Purpose: To modify the structure of existing database objects. This can include adding, deleting, or modifying columns in a table.

* Example: Adding a new column department to the employees table.

ALTER TABLE employees
ADD department VARCHAR(50);

* Example: Modifying the salary column to increase its precision.

ALTER TABLE employees
MODIFY salary DECIMAL(12, 2);

4. TRUNCATE:

* Purpose: To remove all rows from a table without deleting the table itself. It is faster and uses fewer system and transaction log resources than DELETE.

* Example: Truncating the employees table to remove all data.

TRUNCATE TABLE employees;

#### Summary of Usage:
* CREATE: Used to create new tables, indexes, or other database objects.
* DROP: Used to delete existing tables, indexes, or other database objects.
* ALTER: Used to modify the structure of existing tables, such as adding or removing columns.
* TRUNCATE: Used to quickly remove all data from a table without deleting the table itself.

## Qusetion 3: What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is a subset of SQL used for managing data within database objects such as tables. DML commands allow you to insert, update, and delete data stored in the database. The primary DML commands include INSERT, UPDATE, and DELETE.

#### DML Commands and Their Uses:
1. INSERT:

* Purpose: To add new rows of data to a table.

* Example: Inserting a new record into the employees table.

INSERT INTO employees (employee_id, first_name, last_name, hire_date, salary)
VALUES (1, 'John', 'Doe', '2023-01-15', 50000.00);

2. UPDATE:

* Purpose: To modify existing data within a table.

* Example: Updating the salary of an employee in the employees table.

UPDATE employees
SET salary = 55000.00
WHERE employee_id = 1;

3. DELETE:

* Purpose: To remove existing rows from a table.

* Example: Deleting a record from the employees table.

DELETE FROM employees
WHERE employee_id = 1;

#### Summary of Usage:
* INSERT: Used to add new rows to a table.
* UPDATE: Used to modify existing rows in a table.
* DELETE: Used to remove existing rows from a table.

## Question 4: What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a subset of SQL used to query the database and retrieve data. The primary DQL command is SELECT, which is used to fetch data from one or more tables.

### SELECT Command and Its Use:
1. SELECT:
* Purpose: To retrieve data from one or more tables based on specific conditions.

* Example: Selecting specific columns from the employees table.

SELECT first_name, last_name, salary
FROM employees
WHERE salary > 40000;

## Question 5: Explain Primary Key and Foreign Key.

## Primary Key
A Primary Key is a column or a set of columns in a database table that uniquely identifies each row in that table. Primary keys must contain unique values and cannot contain NULL values. They are used to ensure that each record in the table is distinct and to provide a way to reference individual records.

* Characteristics:
1. Uniqueness: Each value in the primary key column(s) must be unique.
2. Non-nullable: Primary key columns cannot contain NULL values.
3. Single column or composite: A primary key can consist of a single column or multiple columns (composite primary key).
#### Example:
Consider a table employees:

CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    hire_date DATE,
    salary DECIMAL(10, 2)
);

In this example, employee_id is the primary key for the employees table, ensuring that each employee has a unique identifier.

### Foreign Key
A Foreign Key is a column or a set of columns in a database table that establishes a link between the data in two tables. The foreign key in the child table references the primary key in the parent table. This relationship enforces referential integrity, ensuring that the value in the foreign key column corresponds to an existing value in the primary key column of the related table.

#### Characteristics:
* Referential Integrity: Ensures that values in the foreign key column(s) match values in the primary key column(s) of the referenced table.
* Link Between Tables: Establishes a relationship between tables, enabling data to be organized and retrieved more efficiently.
#### Example:
Consider two tables, employees and departments:

1. Departments Table:

CREATE TABLE departments (
    department_id INT PRIMARY KEY,
    department_name VARCHAR(100)
);

2. Employees Table with Foreign Key:

CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    hire_date DATE,
    salary DECIMAL(10, 2),
    department_id INT,
    FOREIGN KEY (department_id) REFERENCES departments(department_id)
);

In this example:

* department_id in the departments table is the primary key.
* department_id in the employees table is the foreign key that references the department_id in the departments table.

## Question 6: Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

To connect MySQL to Python, you can use the mysql-connector-python library. This library allows you to interact with MySQL databases directly from Python. Below is an example of how to establish a connection, along with explanations of the cursor() and execute() methods.

### Python Code to Connect MySQL to Python:
First, ensure you have the mysql-connector-python library installed. You can install it using pip:

pip install mysql-connector-python

### Code Example:

import mysql.connector

##### Establish the connection
conn = mysql.connector.connect(
    host='localhost',  # Replace with your MySQL server host
    user='yourusername',  # Replace with your MySQL username
    password='yourpassword',  # Replace with your MySQL password
    database='yourdatabase'  # Replace with the name of the database you want to connect to
)

##### Create a cursor object
cursor = conn.cursor()

###### Execute a SQL query using the cursor
cursor.execute('SELECT * FROM yourtable')  # Replace with your table name

###### Fetch and print the results of the query
results = cursor.fetchall()
for row in results:
    print(row)

###### Close the cursor and the connection
cursor.close()
conn.close()

## Explanation of cursor() and execute() Methods:
1. cursor() Method:

* Purpose: The cursor() method creates a cursor object, which allows you to execute SQL queries and fetch results from the database.
* Usage: You call conn.cursor() on the database connection object (conn) to create the cursor.

cursor = conn.cursor()

2. execute() Method:

* Purpose: The execute() method executes a given SQL query using the cursor object.
* Usage: You call cursor.execute(query) where query is a string containing your SQL command.

cursor.execute('SELECT * FROM yourtable')

## Question 7: Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in a query is crucial for understanding how SQL processes a query to retrieve the desired results. Although we typically write SQL queries in a specific order, SQL actually executes the clauses in a different sequence. Here is the order of execution of SQL clauses:

1. FROM: Specifies the tables from which to retrieve the data.
2. JOIN: Joins tables together based on a related column.
3. WHERE: Filters the rows based on a specified condition.
4. GROUP BY: Groups the rows that have the same values in specified columns into aggregated data.
5. HAVING: Filters the groups based on a specified condition.
6. SELECT: Selects the columns to be returned by the query.
7. DISTINCT: Removes duplicate rows from the result set.
8. ORDER BY: Sorts the result set based on one or more columns.
9. LIMIT/OFFSET: Limits the number of rows returned by the query and specifies the starting point.
### Example Query:

SELECT department, COUNT(employee_id) AS num_employees
FROM employees
WHERE salary > 50000
GROUP BY department
HAVING COUNT(employee_id) > 5
ORDER BY num_employees DESC
LIMIT 10;

### Order of Execution Explained:
1. FROM employees:

* The FROM clause determines the source of the data, which is the employees table in this case.

2. WHERE salary > 50000:

* The WHERE clause filters rows where the salary is greater than 50,000.

3. GROUP BY department:

* The GROUP BY clause groups the filtered rows by the department column.

4. HAVING COUNT(employee_id) > 5:

* The HAVING clause filters the groups to include only those with more than 5 employees.

5. SELECT department, COUNT(employee_id) AS num_employees:

* The SELECT clause specifies the columns to be returned: the department and the count of employee_id.

6. ORDER BY num_employees DESC:

* The ORDER BY clause sorts the result set by the num_employees column in descending order.\

7. LIMIT 10:

* The LIMIT clause limits the result set to the first 10 rows.